{
  "env": {
    "browser": true,
    "node": true,
  },
  "extends": [
    "ProgramingMaster/best-practices",
    "ProgramingMaster/possible-errors",
    "ProgramingMaster/es6/best-practices",
    "ProgramingMaster/es6/possible-errors",
    "ProgramingMaster/import/best-practices",
    "ProgramingMaster/import/possible-errors",
    "ProgramingMaster/mocha"
  ],
  "rules": {},
}
